[build]
  publish = "dist"

[functions]
  node_bundler = "esbuild"

[[plugins]]
package = "@netlify/plugin-sitemap"

  [plugins.inputs]
  buildDir = "dist"
  exclude = ["/404.html"]
[[plugins]]
package = "@netlify/plugin-functions-install-core"

